{% extends "blackjack/base.html" %}
{% load blackjack_tags %}

{% block title %}
    <title>О сайте</title>
{% endblock %}

{% block body %}
    <h2>Автор - Павел Солошенко</h2>

    <img src="https://i.ibb.co/QHPxQ6F/m-NJD4p-W-MFo.jpg" alt="" width="250" height="350">
    <img src="https://i.ibb.co/wzTHVm6/Cfuz-TIrk92w.jpg" alt="" width="250" height="250">

    <h3><a href="https://github.com/Apodisation13">Ссылка на мой гитхаб</a></h3>

    Мои контакты:<br>
    Адрес электронной почты: Apodisation13@gmail.com<br>
    Телеграмм: @PaulSol13
{% endblock %}
{#PR_END_OF_FILE_ERROR#}