{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>РАУНД</title>
    <script type="text/javascript" src="{% static "blackjack/js/try.js" %}"></script>
</head>

<body>
БАБЛО {{ money }}<br>
СТАВКА {{ bet }}<br>
{#колода {{ deck }}<br>#}

ЭТО РУКА ДИЛЕРА<br>

{% for card_url in dealer_hand_urls %}
    <img src={{ card_url }} width="150" height="170">
{% endfor %}
<h2>СЧЁТ дилера - {{ dealer_result }}</h2>


ЭТО РУКА ИГРОКА<br>

{#    <img src={{ player_card_1 }} width="150" height="170">#}
{#    <img src={{ player_card_2 }} width="150" height="170">#}
{##}
{#    {% if player_card_3 %}#}
{#        <img src={{ player_card_3 }} width="150" height="170">#}
{#    {% endif %}#}

{% for card_url in player_hand_urls %}
    <img src={{ card_url }} width="150" height="170">
{% endfor %}

{#<p><input value="Нажми меня" onclick="sss1()" type="button"></p>#}
{#<div id="button1"></div>#}
{#<p><input value="Нажми меня" onclick="sss2()" type="button"></p>#}
{#<div id="button2"></div>#}

<h2>ВАШ СЧЁТ - {{ player_result }}</h2>

{% if player_score >= 21 %}

{% endif %}


<button name="button" type="submit" onclick="location.href='{% url "hit" %}'">HIT</button>
<button name="button" type="submit" onclick="location.href='{% url "hit" %}'">STAND</button><br>
<button name="button" type="submit" onclick="location.href='{% url "input_bet" %}'">новый раунд</button>

</body>
</html>