{% extends "blackjack/base.html" %}
{% load blackjack_tags %}

{% block title %}
    <title>Раунд</title>
{% endblock %}

{% block body %}

{% show_money_and_bet money=money bet=bet %}

ЭТО РУКА ДИЛЕРА<br>
{% for card_url in dealer_hand_urls %}
    <img src={{ card_url }} width="150" height="170" alt="">
{% endfor %}
<h2>СЧЁТ дилера - {{ dealer_result }}</h2>

ЭТО РУКА ИГРОКА<br>
{% for card_url in player_hand_urls %}
    <img src={{ card_url }} width="150" height="170" alt="">
{% endfor %}
<h2>ВАШ СЧЁТ - {{ player_result }}</h2>

<button class="hit_button" name="button" type="submit"
        onclick="location.href='{% url "hit" %}'">ВЗЯТЬ<br>КАРТУ</button>
<button class="stand_button" name="button" type="submit"
        onclick="location.href='{% url "stand" %}'">ПАС<br>ХОД ДИЛЕРА</button>

{% if double_down_chance %}
<button class="double_down_button" name="button" type="submit"
        onclick="location.href='{% url "double_down" %}'">УДВОИТЬ<br>СТАВКУ</button>
{% endif %}

{% endblock %}
